
.class1 {
  margin: 1rem;
  padding-left: 1rem; padding-right: 1rem;
}

@media (orientation: landscape) {
  .class2 {
    padding-left: 1rem; padding-right: 1rem;
  margin: 1rem;
  }
}

.class3 {&:hover { padding: 1rem; }
  &:first-child { padding: 2rem; }}

@media (min-width: 768px) {
  .class4 {
    padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; font-weight: 600; border-radius: 0.5rem; box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    top: 1rem;
  &:last-child > * + * { margin-top: 2.5rem; }
  }
}
